@using HRSample.ViewModels
@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Employees";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Employee Id
            </th>
            <th>
                Full Name
            </th>
            <th>
                City
            </th>
            <th>
                Zip
            </th>
            <th>
                Hire Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal" data-url="@Url.Action("Edit", "Employee", new { id = @item.Id })">
                        @Html.DisplayFor(modelItem => item.Id)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_EmployeeDetailsModal")

<Script>
    $(document).ready(function () {
        $('#employeeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var employeeId = button.data('id'); // Extract the employee ID from data-* attribute

            var modal = $(this);
            var url = '@Url.Action("Edit", "Employee")/' + employeeId;

            // Load the modal content via AJAX
            modal.find('.modal-body').load(url);
        });
    });
</Script>
